:root {
  --main-color: #447099 ;
  /*--title-color: #870511 ;*/
}

.colorized {
  color: var(--main-color) ;
}

a:link {
  color: var(--main-color);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: var(--main-color);
  background-color: transparent;
  text-decoration: none;
}

a.nav-link:link, a.navbar-title:link, a.navbar-brand:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a.nav-link:visited, a.navbar-title:visited, a.navbar-brand:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


/*
h1, h2 {
  color: var(--main-color) ;
}
*/

.no-anchor.card-title.listing-title {
    font-weight: bolder !important;
    color: var(--main-color) !important;
}


.navbar-title code {
    color: var(--main-color) ;
    background-color: inherit;
  }



p {
    text-align: justify;
  }
  

  /* css styles */
.grid-item-link {
  color: inherit;
  text-decoration: none; /* Remove underline */
  transition: transform 0.2s ease-in-out; /* Add transition for smooth effect */
}

.grid-item-link:hover {
  transform: scale(1.05); /* Increase the scale for a zoom effect */
}

.card-title.listing-title {
  font-weight: bold; /* Set the card title to bold */
  margin-bottom: 1em; /* Add a little more space after the title */
}

.card-body.post-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listing-categories {
  margin-top: auto;
}

.listing-category:hover {
  transform: scale(1.05); /* Apply a slight zoom effect */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition */
}


.category {
  color: #6c757d;
  display: inline-block; /* Add this line */
  border: solid 1px #dee2e6;
  border-radius: .25rem;
  text-transform: uppercase;
  font-size: .65em;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .15em;
  padding-bottom: .15em;
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 4px;
}
