.box-exercise,
.box-warning,
.box-caution,
.box-danger,
.box-error,
.box-hint,
.box-tip,
.box-important,
.box-note,
.box-attention{
  margin:1.5625emauto;
  padding:0 .6rem .8rem!important;overflow:hidden;
  page-break-inside:avoid;
  /*border-left:.2rem solid #dc3545;*/
  border-radius:.1rem;
  box-shadow:0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
  transition:color .25s,background-color .25s,border-color .25s
}
.box-warning {
  border-left:.2rem solid #dc354580;
}
.box-caution {
  border-left:.2rem solid #fd7e1480;
}
.box-danger {
  border-left:.2rem solid #dc354580;
}
.box-error {
  border-left:.2rem solid #dc354580;
}
.box-hint {
  border-left:.2rem solid #ffc10780;
}
.box-tip {
  border-left:.2rem solid #ffc10780;
}
.box-important {
  border-left:.2rem solid #007bff80;
}
.box-note {
  border-left:.2rem solid #007bff80;
}
.box-attention {
  border-left:.2rem solid #fd7e1480;
}
.box-exercise {
  border-left:.1rem solid #bee3fa;
  border-right:.1rem solid #bee3fa;
  border-bottom:.1rem solid #bee3fa;
}

.box-header-exercise,
.box-header-warning,
.box-header-caution,
.box-header-danger,
.box-header-error,
.box-header-hint,
.box-header-tip,
.box-header-important,
.box-header-note,
.box-header-attention{
  /*background-color:#fdf3f2;*/
    position:relative;
  margin:0 -.6rem!important;
  padding: 0rem 0rem 0em 1rem;
  font-weight:700;
}


.box-body-exercise,
.box-body-warning,
.box-body-caution,
.box-body-danger,
.box-body-error,
.box-body-hint,
.box-body-tip,
.box-body-important,
.box-body-note,
.box-body-attention{
  padding: 1px 0px;
}

.box-header-exercise{
  background-color:#bee3fa
}
.box-header-warning{
  background-color:#dc3545
}
.box-header-caution{
  background-color:#fd7e14
}
.box-header-error{
  background-color:#dc3545
}
.box-header-hint{
  background-color:#fff6dd
}
.box-header-tip{
  background-color:#fff6dd
}
.box-header-important{
  background-color:#e7f2fa
}
.box-header-note{
  background-color:#e7f2fa
}
.box-header-attention{
  background-color:#ffedcc
}
.box-header-danger{
  background-color:#fdf3f2
}

.box h3{
  margin-top: 0rem;
  color: black;
}

a img{
  display: inline;
}


/*------------------------
        TOC BAR
------------------------*/

@media screen and (max-width: 1024px) {
  .hide-on-mobile {
      display: none !important;
  }
}
@media only screen and (min-width: 1025px) {
  .article-nav {
    display: grid;
    grid-template-columns: 1fr 15em;
    max-width: 100em;
    width: 90%;
    margin: 0 auto;
    min-width: 60em;
  }
}
nav {
  position: sticky;
  top: 2rem;
  align-self: start;
}
.section-nav li.active > a {
  color: #516db0;
  font-weight: 600;
}
.section-nav {
  font-size: smaller;
  padding-left: 0;
  border-left: 2px solid #efefef;
}
.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; 
}
.section-nav a:hover,
.section-nav a:focus {
  color: #666;
  font-weight: 600;
}

nav > ul, ol {
  list-style: none;
  margin: 1rem;
  padding: 0;
}

/* ----------------------
TABLES
-----------------------*/

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);  
}

thead tr {
    background-color: #516db0;
    color: #ffffff;
    text-align: center;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #516db0;
}

tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


/* ---------------------
AUTRES ELEMENTS
---------------------*/

p {
  line-height: 1.5;
  text-align: justify ;
}

ul, ol {
  text-align: justify ;
  max-width: 90% !important;
}



div.highlight {
  max-width: 650px ;
}


.inline-spoiler {
  position: relative;
  display: inline-block;
  cursor: help;
}

.inline-spoiler::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  color: white;
  background: black;
  opacity: 1;
  transition: opacity 0.7s ease, transform 0.3s ease;
}

.inline-spoiler:hover::before {
  opacity: 0;
  transform: translateY(-50%)rotateX(80deg);
  transition: opacity 1.0s ease, transform 0.5s ease;
  transition-delay: 0.3s; // To not accidentally reveal the spoiler when hovering over the page
}


:not(pre) > p code, :not(pre) > li code {
    color: #c7254e;
    background-color: #f9f2f4 !important;
}

